# npm init configuration
# These settings will be used automatically when running 'npm init -y'

# Author information
init-author-name=AXIVO
init-author-url=https://axivo.com

# Project defaults
init-license=BSD-3-Clause
init-version=1.0.0
